<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <!-- =============================== -->
    <!-- Propriedades do Spring Boot     -->
    <!-- =============================== -->
    <springProperty name="name" source="spring.application.name" defaultValue="application"/>
    <springProperty name="logLevel" source="logging.level.root" defaultValue="INFO"/>
    <!--    <springProperty name="logPatternCorrelation" source="logging.pattern.correlation" defaultValue="%X{traceId:-MISSING},%X{spanId:-MISSING}"/>-->
    <!--    <springProperty name="logPatternLevel" source="logging.pattern.level" defaultValue="%5p [%X{traceId:-MISSING},%X{spanId:-MISSING}]"/>-->
    <springProperty name="tracePattern" source="logging.pattern.correlation" defaultValue="%X{traceId:-},%X{spanId:-}"/>

    <!-- =============================== -->
    <!-- Padrão de log reutilizável       -->
    <!-- =============================== -->
    <property name="COMMON_PATTERN"
              value="%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} [%thread] %-5level ${tracePattern} %logger{36} - %msg%n"/>

    <!-- =============================== -->
    <!-- Appender Console               -->
    <!-- =============================== -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${COMMON_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- =============================== -->
    <!-- Appender Loki (JSON estruturado) -->
    <!-- =============================== -->
    <springProfile name="docker,dev,prod">
        <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
            <http>
                <url>http://loki:3100/loki/api/v1/push</url>
            </http>
            <format>
                <label>
                    <pattern>
                        application=${name},host=${HOSTNAME},level=%level,traceId=%X{traceId:-MISSING},spanId=%X{spanId:-MISSING}
                    </pattern>
                    <readMarkers>true</readMarkers>
                </label>
                <message>
                    <pattern>
                        {"application":"${name}",
                        "host":"${HOSTNAME}",
                        "thread":"%thread",
                        "logger":"%logger",
                        "level":"%level",
                        "traceId":"%X{traceId:-MISSING}",
                        "spanId":"%X{spanId:-MISSING}",
                        "message":"%replace(%msg){'\n','\\n'}"
                        }
                    </pattern>
                </message>
            </format>
        </appender>
    </springProfile>

    <!-- =============================== -->
    <!-- Root logger para Docker, Dev e Prod -->
    <!-- =============================== -->
    <springProfile name="docker,dev,prod">
        <root level="${logLevel}">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="LOKI"/>
        </root>
    </springProfile>

    <!-- =============================== -->
    <!-- Root logger para Local e Testes -->
    <!-- =============================== -->
    <springProfile name="local,test">
        <root level="${logLevel}">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <!-- =============================== -->
    <!-- Bibliotecas menos verbosas        -->
    <!-- =============================== -->
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.hibernate" level="WARN"/>

</configuration>
